<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Words of Wisdom</title>
  <link rel="stylesheet" href="main.css">
  <script src="scripts.js"></script>
</head>
<div class="container" >
  <div class ="header">
    <h1 v-if= "seen"></h1>
  </div>

  <body id>
    <div id="root">
      <h1> {{ message }} </h1>
      <h2>Enter your name below:</h2>
      <input type="text" id="input" v-model="name">
      <p><button class="btn btn-lg btn-primary" v-on:click="seen = !seen">Submit</button></p>
      <div v-if="seen">
        <h2>Hello {{ name }}! Welcome to the Wisdom Finder.</h2>

        <p>
          Beware if you click you will be exposed to wonderful and magical wisdom so powerful that if not followed could be dangerous. Click enter below if you dare to start this journey.
        </p>
        
      </div>

    <!---This button might need to be inside of the vue, but I can't get it to work inside, so I threw it outside for now-->
      <button id="getQuote">Enter the world of wisdom!</button>
      <div id="quote"></div>
    </div>

    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="scripts.js"></script>
  </body>
  <div id="footer">
    <a id="hub" href="https://github.com/Mdayes27/Creative_Project3.git">GITHUB</a>
  </div>

</html>
